html {
    background: #000;
    margin: 0;
    height: 100%;
}
.date_container {
    width: 1000px;
    margin: auto;
    color: #FFF;
    font-size: 25px;
}

.date_container h3 {
    font-size: 20px;
}

#date_content {
    border: dashed 2px #CCC;
    padding: 10px;
}

#date_content p {
    color: aquamarine;
    margin: 5px;
    padding: 5px;
}

#date_content > p {
    color: orange;
    margin: 5px;
}
#date_content #message
{
    color:aquamarine;
    font-size:18px;
}

.img {
    max-height: 820px;
    max-width: 1200px;
    object-fit: cover;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: red;
}
a:active {
    color: goldenrod;
}
.new_tag {
    background-color: black;
    color: white;
    height: 920px;
    border-color: black;
}
.text_box {
    background-color: white;
    border: red 5px;
    width: 100px;
}
.message_box {
    background-color: black;
    border: black 0px;
    border-bottom: black;
    width: 300px;
    color: red
}
.button {
    background-color: bisque;
    height: 820px;
}

.hide { 
    position: absolute; 
    top: -1px; 
    left: -1px; 
    width: 1px; 
    height: 1px; 
}
.ui-datepicker-calendar {
    display: none;
}
.right_grid { 
    display: grid;
    top: 0%;
    bottom: 0%;
    grid-template-columns: 200px;
    grid-template-rows: 50px 820px;
    grid-template-areas: 
    "r1"
    "r2"
}
.r1 { 
    grid-area: r1;
    background-color: black;
}
.r2 { 
    grid-area: r2;
    background-color: black;
}

.left_grid { 
    display: grid;
    top: 0%;
    bottom: 0%;
    grid-template-columns: 180px 40px 1300px 40px;
    grid-template-rows: 820px 100px;
    grid-template-areas: 
    "l1 l5 l2 l6"
    "l1 l7 l3 l8"
}
.l1 { 
    grid-area: l1;
    background-color: black;
}

.l2 { 
    grid-area: l2;
    background-color: black;
}
.l3 { 
    grid-area: l3;
    background-color: black;
}
.l4 {
    grid-area: l4;
    background-color: black;
    color: white;
}
.l5 {
    grid-area: l5;
    background-color: black;
}
.l6 {
    grid-area: l6;
    background-color: black;
}
.l7 {
    grid-area: l7;
    background-color: black;
}
.l8 {
    grid-area: l8;
    background-color: black;
}
.l9 {
    grid-area: l9;
    background-color: black;
}
